* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: 	#40E0D0;
}

main {
    text-align: center;
    /* background: #23232e; */
    height: ;
}

body {
    /*background-image: linear-gradient(45deg,grey,#1b262a, #ed8761, red);*/
    text-align: ;
    width: ;
}

header {
    background-color: red;
}

.logo {

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 8vh;
    
}

.navMenu {
    list-style: none;
    display: flex;
}

.navMenu li {
    background-color: yellow;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
}

.navMenu ul {
    display: flex;
    list-style: none;
    letter-spacing: 3px;
    text-align: center;
}

a {
    text-decoration: none;
}

.sectionProjetos {
    display: inline-block;
    padding-top: 10px;
    width: 85vw;
    background-color: blue;
}
.sectionNatura, .sectionLacoste, .sectionCoca {
    display: flex;
}

.ao {
    margin-top: -20px;
    /*width: 80vw;
    height: 20vh;
    overflow: auto;
    padding: 20px;*/
}

section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    background-color: yellow;
}

/*----@media query----*/
@media (max-width: 999px) {
    .jorge, .denilson {
        display: none;
    }
}

@media (max-width: 888px) {
    .logo {
        text-align: center;
    }
}